<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Варианты выбора</title>
</head>
<body>
    <header>
        <h1>Мое предложение: Марс</h1>
        <h3>Эта планета близка к Земле;</h3>
        <h3 class="green">На ней много необходимых ресурсов;</h3>
        <h3 class="black">На ней есть вода и атмосфера;</h3>
        <h3 class="yellow">На ней есть небольшое магнитное поле;</h3>
        <h3 class="red">Наконец, она просто красива!</h3>
    </header>
</body>
</html>