<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Привет, Марс!</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Жди нас, Марс!</h1>
    <img src="https://i.imgflip.com/s0dgo.jpg" alt="Тут был марс">
    <p class="black">Человечество вырастает из детства.</p>
    <p class="green">Человечеству мала одна планета.</p>
    <p class="black">Мы сделаем обитаемыми безжизненные пока планеты.</p>
    <p class="yellow">И начнем с Марса!</p>
    <p class="red">Присоединяйся!</p>
</body>
</html>